@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
 }

.navbar{
    display: flex;
    height: 67px;
    cursor: pointer;
   }

.navbar li{
    list-style: none;
    margin: 0 12px;
    color: rgb(227 74 56);
   
    
}

.topleft{
    width: 50%;
}

.topright{ 
    width: 50%;
}

.section1{
   max-height: 100vh; 
   color: rgb(227 74 56);

}

.section1 h1{
    color:rgb(227 74 56);
    font-size: 2rem;
}

.logo{
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dumbellimg{
    width: 200px;
}

.topright .gymimg{
    width: 350px;
}

.section2{
    padding: 73px;
}

.section2 h1{
    font-size: 2.3rem;
    color: rgb(227 74 56);
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
    color: rgb(227 74 56);
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 23vw;
    border: 2px solid rgb(120, 54, 16);
    border-radius: 8px;
    text-align: center;
    background-color: white;
}

.box h2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0;
    color: rgb(227 74 56);
}

.highlighted{
    font-size: 1.2rem;
    font-weight:bolder;
    font-style: italic;
    color: rgb(18, 10, 9);
}

.box ul{
    list-style-type: none;
    
}

.box ul li{
   margin: 12px 2px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 10px;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
    background-color: white;
}

footer{
    padding: 23px;
    text-align: center;
    color: rgb(227 74 56)
}
.buttons{
   
    justify-content: center;
    align-items:center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
} 
body{
    background-color: black;
    background-size: cover;
}

#icons{
    color: whitesmoke;
cursor: pointer;  
}

  .navbar li:hover{
  background-color: rgb(210, 204, 204)
}
